VITE_SUPABASE_PROJECT_ID="rgoolqnygckruvhhymht"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJnb29scW55Z2NrcnV2aGh5bWh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzgzNDMsImV4cCI6MjA5MjU1NDM0M30.NCGu1LPVOPtdlNkCI3r70zDD8fQilRKvkES_2UFxeTc"
VITE_SUPABASE_URL="https://rgoolqnygckruvhhymht.supabase.co"
